<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/images/foodity icon.png">
    <link rel="stylesheet" href="../static/buyer_address.css">
    <title>Foodity - Address</title>
</head>
<script src="../static/Javascript/buyer_home.js"></script>
<script src="../static/Javascript/buyer_add_to_cart.js"></script>   
<body>
    
    
    
    <div class="base">
        
        <div class="base_frame">

            <div class="sideNav" id="sidebar">
                <div class="sideNav_frame">
                    <div class="foodity_logo">
                        <img src="../static/images/foodity_logo.png" alt="Foodity Logo" />
                        <img class="button-img" src="../static/images/buyer/home/Sort.png" alt="Button" id="toggleButton" />
                    </div>
                    <div class="menu">
                        <ul>
                            <li class="Home"><a href="/buyer_home"><img src="../static/images/buyer/sideNav/home_gray.png" alt="Home Icon"> <span>Home</span></a></li>
                            <li class="Add to Cart"><a href="/buyer_add_to_cart"><img src="../static/images/buyer/sideNav/add_to_cart_gray.png" alt="Add Icon"> </span> <span>Add to Cart</span></a></li>
                            <li class="saved"><a href="/buyer_saved"><img src="../static/images/buyer/sideNav/saved_gray.png" alt="Save Icon"> </span> <span>Saved</span></a></li>
                            <li class="Purchase History"><a href="/buyer_purchase_history"><img src="../static/images/buyer/sideNav/history_gray.png" alt="Purchase History Icon"> <span>Purchase History</span></a></li>
                           
                            <li class="settings">
                                <a href="#" class="settings-button"><img src="../static/images/buyer/sideNav/settings_gray.png" alt="Settings Icon"> <span>Settings</span></a>
                                <div class="dropdown">
                                    <ul>
                                        <li><a href="/buyer_profile">Profile</a></li>
                                        <li><a href="/buyer_address">Address</a></li>
                                        <li><a href="/buyer_change_password">Change Password</a></li>
                                        <li><a href="/logout">Logout</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="middle">
                <div class="address">
                    <div class="address-frame">



                        <div class="address-container">
                            <h1>My Addresses</h1>

                            <div class="address">
                                <h2>Aguitez Christian Joseph</h2>
                                <p>(+63) 997 844 5759</p>
                                <p>074 sitio mapagmahal brgy pagsawitan beside bigmac</p>
                                <p>Pagsawitan, Santa Cruz, Laguna, South Luzon, 4009</p>
                                <span class="default">Default</span>
                                <div class="actions">
                                    <button>Edit</button>
                                    <button>Set as default</button>
                                </div>
                            </div>


                            <div class="address">
                                <h2>Cjayyy</h2>
                                <p>(+63) 997 844 5759</p>
                                <p>Pagsawitan Sta cruz laguna</p>
                                <p>Pagsawitan, Santa Cruz, Laguna, South Luzon, 4009</p>
                                <span class="type">Pickup Address</span>
                                <span class="type">Return Address</span>
                                <div class="actions">
                                    <button>Edit</button>
                                    <button>Delete</button>
                                    <button>Set as default</button>
                                </div>
                            </div>
                            <div class="address">
                                <h2>Christian Joseph Aguitez</h2>
                                <p>(+63) 977 387 0893</p>
                                <p>074 Sitio Mapagmahal Brgy Pagsawitan Sta Cruz Laguna</p>
                                <p>Pagsawitan, Santa Cruz, Laguna, South Luzon, 4009</p>
                                <div class="actions">
                                    <button>Edit</button>
                                    <button>Delete</button>
                                    <button>Set as default</button>
                                </div>
                            </div>

                            
                            <button class="add-new">+ Add New Address</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
               
                    
    
