<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/images/foodity icon.png">
    <link rel="stylesheet" href="static/buyer_profile.css">
    <title>Profile</title>
</head>
<body>
    <script src="../static/Javascript/buyer_home.js"></script>

    <div class="base">
        <div class="base_frame">

            <div class="sideNav" id="sidebar">
                <div class="sideNav_frame">
                    <div class="foodity_logo">
                        <img src="../static/images/foodity_logo.png" alt="Foodity Logo" />
                        <img class="button-img" src="../static/images/buyer/home/Sort.png" alt="Button" id="toggleButton" />
                    </div>
                    <div class="menu">
                        <ul>
                            <li class="Home"><a href="/buyer_home"><img src="../static/images/buyer/sideNav/home_gray.png" alt="Home Icon"> <span>Home</span></a></li>
                            <li class="Add to Cart"><a href="/buyer_add_to_cart"><img src="../static/images/buyer/sideNav/add_to_cart_gray.png" alt="Add Icon"> </span> <span>Add to Cart</span></a></li>
                            <li class="saved"><a href="/buyer_saved"><img src="../static/images/buyer/sideNav/saved_gray.png" alt="Save Icon"> </span> <span>Saved</span></a></li>
                            <li class="Purchase History"><a href="/buyer_purchase_history"><img src="../static/images/buyer/sideNav/history_gray.png" alt="Purchase History Icon"> <span>Purchase History</span></a></li>
                            <li class="settings">
                                <a href="#" class="settings-button"><img src="../static/images/buyer/sideNav/settings_gray.png" alt="Add to Cart Icon"> <span>Settings</span></a>
                                <div class="dropdown">
                                    <ul>
                                        <li><a href="/buyer_profile">Profile</a></li>
                                        <li><a href="/buyer_address">Address</a></li>
                                        <li><a href="/buyer_change_password">Change Password</a></li>
                                        <li><a href="/logout">Logout</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="middle">
                <div class="buyer-profile">
                    <div class="buyer-profile-frame">
                        
                        <div class="profile-container">
                            <h1>My Profile</h1>
                            <p>Manage and protect your account</p>
                            <form>
                                
                                <label for="username">Username</label>
                                <input type="text" id="username" name="username" value="freakz02" required>
                                
                                <label for="name">Name</label>
                                <input type="text" id="name" name="name" value="Aguitez Christian" required>
                                
                                <label for="email">Email</label>
                                <input type="email" id="email" name="email" placeholder="Add" required>
                                
                                <label for="phone">Phone Number</label>
                                <input type="tel" id="phone" name="phone" value="*********59" required>
                                
                                <label for="gender">Gender</label>
                                <select id="gender" name="gender">
                                    <option value="male" selected>Male</option>
                                    <option value="female">Female</option>
                                    <option value="other">Other</option>
                                </select>
                                
                                <label for="dob">Date of Birth</label>
                                <input type="date" id="dob" name="dob" value="2024-11-10" required>
                                
                                <label for="profile-image">Select Image</label>
                                <input type="file" id="profile-image" name="profile-image" accept=".jpeg, .png" required>
                                
                                <button type="submit">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
