<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Foodity - OTP</title>
    <link rel="icon" type="image/x-icon" href="/static/images/foodity icon.png">
    <link rel="stylesheet" href="static/password_otp.css">

<body>
    <!--################################################-->
    <!--###############  O T P  F O R M  ###############-->
    <!--################################################-->
<form action="/submit_otp" method="POST">
    <div class="otp_main_frame">
        <div class="otp_logo_frame">
            <img src="../static/images/foodity_logo.png" alt="Foodity">
        </div>
            
            <!--<div class="login_text"> -->
                <!--<h1>Login</h1> -->
            <!--</div> -->
        <div class="textbox_frame">
            <div class="otp_frame">
                <label for="otp_code">OTP code</label> 
                <div class="otp_box">
                    <input type="text" id="otp_code" name="otp_code" placeholder="Enter OTP code" required>
                </div>
            </div>
        </div>
        <div class="msg">{{msg}}</div>
        <div class="msg2">{{msg2}}</div>
        <div class="otp_button_frame">
                <button id="submit_otp" name="submit_otp" type="submit">SUBMIT OTP</button>
        </div>
    </div>
</form>


</body>
</html>