<!DOCTYPE html>
<html lang="en">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/images/foodity icon.png">
    <link rel="stylesheet" href="/static/seller_delivery.css">
    <title>Foodity - Delivery</title>
</head>
<body class="background" id="blur">
    
    <!--############################################-->
    <!--##############  N A V  B A R  ##############-->
    <!--############################################-->

    <script src="static/Javascript/seller_delivery.js"></script>
    <div class="topNav">
        <div class="topNav_frame">
            <div class="left">
                <div class="foodity_logo">
                    <img src="/static/images/admin/dashboard/foodity_logo.png" alt="">
                </div>
            </div>
            <div class="right">
                <div class="message">
                    <a href="/seller_message"><img src="/static/images/admin/dashboard/messages.png" alt=""></a>
                </div>
                <div class="notification">
                    <a href=""><img src="/static/images/admin/dashboard/notif.png" alt=""></a>
                </div>
                <div class="profile">
                    <div class="profile_info">
                        {% for user in users %}
                        <button  class="profile_button"><img src="data:image/jpeg;base64, {{ user.profile_pic }}" class="profile_pictures"></button>
                        <h1> {{ user.email }} </h1>
                        {% endfor %}
                    </div>

                    <!--##############################################################-->
                    <!--##############  P R O F I L E  D R O P  D O W N ##############-->
                    <!--##############################################################-->

                    <div class="profile_dropdown">
                        <div id="dropdown_profile" class="profile_dropdown_content">
                            <a  href="">Edit Profile</a>
                            <a  href="/logout">Logout</a>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>

<!--#################################################-->
<!--##############  B A S E  F R A M E ##############-->
<!--#################################################-->

    <div class="base">
        <div class="base_frame">

            <!--##############################################-->
            <!--##############  S I D E  N A V  ##############-->
            <!--##############################################-->

            <div class="sideNav">
                <div class="sideNav_frame">
                    
                    <div class="menuText">
                        <p>Menu</p>
                    </div>
                    <div class="menu">
                        <ul>
                            <div class="dashboard">
                                <li>
                                <a href="/seller_dashboard"><img src="/static/images/seller/dashboard-icon@1x.png" alt=""> Dashboard</a>
                                </li>
                            </div>
                            <div class="orders">
                                <li>
                                    <a href="/seller_orders"><img src="/static/images/seller/orders-icon.png" alt=""> Orders</a>
                                </li>
                            </div>
                            <div class="delivery">
                                <li>
                                    <a href="/seller_delivery"><img src="/static/images/seller/delivery-icon.png" alt=""> Delivery</a>
                                </li>
                            </div>
                            <div class="products">
                                <li>
                                    <a href="/seller_products"><img src="/static/images/seller/products-icon.png" alt=""> Products</a>
                                </li>
                            </div>
                            <div class="sales_report">
                                <li>
                                    <a href="/seller_sales"><img src="/static/images/seller/file-icon@1x.png" alt=""> Sales Report</a>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>

        <!--###############################################-->
        <!--##############  P R O D U C T S  ##############-->
        <!--###############################################-->
        
            <div class="seller_delivery">
                <div class="delivery_frame">
                    <div class ="delivery_options">
                        <div class="delivered_button_frame">
                            <button class="order-option" onclick="filterOrders('delivered')">Delivered Products</button>
                        </div>
                        <div class="delivery_button_frame">
                            <button class="order-option" onclick="filterOrders('delivery')">On Delivery</button>
                        </div>
                    </div>
                    <div class="search_frame_top">
                        <div class="search_bar_frame">
                            <input type="text" placeholder="Search..." class="search-input">
                        </div>
                        <div class="date_picker_frame">
                            <div class="date_picker_from">
                                <label for="date_from">from: </label>
                                <div class="date_from">
                                    <input type="date" id="date_from" name="date_from"><span></span><input type="time" name="time_from" id="time_from">
                                </div>
                            </div>
                            <div class="date_picker_to">
                                <label for="date_to">to: </label>
                                <div class="date_to">
                                    <input type="date" id="date_to" name="date_to"><span></span><input type="time" name="time_to" id="time_to">
                                </div>
                            </div>
                            <div class="filter_submit">
                                <input type="submit" name="filter" id="filter">
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="delivery_table">
                        <table id="table">
                            <thead>
                                <tr>
                                    <th class="text">Orders</th>
                                    <th class="text">Date</th>
                                    <th class="text">Customer</th>
                                    <th class="text">Status</th>
                                    <th class="text">Price</th>
                                    <th class="text">Payment Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for upload in uploader %}
                                <tr>
                                    <td> {{ upload.product }} </td>
                                    <td> {{ upload.order_date }} </td>
                                    <td> {{ upload.buyer_name }} </td>
                                    <td>
                                        {% if upload.order_status == 0 %}
                                        <span class='placed'>Order Placed</span>
                                        <a href='/seller_delivery/ship/{{ upload.order_id }}' class='ship'>Ship</a>
                                        <a href='/seller_delivery/deliver/{{ upload.order_id }}' class='deliver'>Deliver</a>
                                        {% elif upload.order_status == 1 %}
                                        <span class='to_ship'>To ship</span>
                                        <a href='/seller_delivery/deliver/{{ upload.order_id }}' class='deliver'>Deliver</a>
                                        {% elif upload.order_status == 2 %}
                                        <span class='delivered'>Delivered</span>
                                        {% endif %}
                                    </td>
                                    <td>₱{{ upload.order_total }} </td>
                                    <td>
                                        {% if upload.payment_status == 0 %}
                                        <span class='unpaid'> Unpaid</span>
                                        {% elif upload.payment_status == 1 %}
                                        <span class='paid'> Paid</span>
                                        {% endif %}
                                    </td>
                                    
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>



    </div>

</body>
</html>