*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background: #eeeeee;
    color: rgb(10, 6, 6);
    justify-content: center;
    display: flex;
}

.base{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}