* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*##############################################*/
/*######### R E G U L A R  F O N T S ###########*/
/*##############################################*/

@font-face {
    font-family: "SF_BLACK";
    src: url(FONT/SF_PRO/SF_PRO_DISPLAY_BLACK.otf);
}
@font-face {
    font-family: "SF_BOLD";
    src: url(FONT/SF_PRO/SF_PRO_DISPLAY_BOLD.OTF);
}
@font-face {
    font-family: "SF_MEDIUM";
    src: url(FONT/SF_PRO/SF_PRO_DISPLAY_MEDIUM.OTF);
}
@font-face {
    font-family: "SF_REGULAR";
    src: url(FONT/SF_PRO/SF_PRO_DISPLAY_REGULAR.OTF);
}
/*############## ITL = ITALIC ################*/
@font-face {
    font-family: "SF_SEMIBOLD_ITL";
    src: url(FONT/SF_PRO/SF_PRO_DISPLAY_SEMI_BOLD_ITL.OTF);
}
@font-face {
    font-family: "SF_BLACK_ITL";
    src: url(FONT/SF_PRO/SF_PRO_DISPLAY_BLACK_ITL.OTF);
}
@font-face {
    font-family: "SF_HEAVY_ITL";
    src: url(FONT/SF_PRO/SF_PRO_DISPLAY_HEAVY_ITL.OTF);
}
@font-face {
    font-family: "SF_LIGHT_ITL";
    src: url(FONT/SF_PRO/SF_PRO_DISPLAY_LIGHT_ITL.OTF);
}
@font-face {
    font-family: "SF_THIN_ITL";
    src: url(FONT/SF_PRO/SF_PRO_DISPLAY_THIN_ITL.OTF);
}


/*###############################*/
/*#########  B O D Y  ###########*/
/*###############################*/

body {
    background: white;
    color: rgb(10, 6, 6);
    width: 100%;
}

/*##########################################*/
/*#########  B A S E  F R A M E  ###########*/
/*##########################################*/

.base{
    width: 100%;
}

.base_frame {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/*########################################*/
/*###########  S I D E  N A V  ###########*/
/*########################################*/

.sideNav {
    width: 15%;
    height: 100vh;
    background-color: white;
    transition: width 0.3s;
    box-shadow: 4px 0px 12px #c4c4c4;
}

.sideNav.collapsed {
    width: 60px;
}

.sideNav_frame {
    padding-top: 25px;
    text-align: left; 
}

.sideNav_frame .foodity_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.foodity_logo img {
    margin-left: -10px;
    left: 10px;
    width: 180px;
    height: auto;
}

.sideNav_frame .foodity_logo .button-img {
    margin-left: 0px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.sideNav.collapsed .foodity_logo img {
    display: none;
}

.sideNav.collapsed .foodity_logo .button-img {
    display: block;
}


.sideNav_frame .menu {
    margin-top: 20px;
}

.sideNav_frame .menu ul {
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

.sideNav_frame .menu ul li {
    list-style: none;
    margin-bottom: 30px;
    display: flex; 
    align-items: center; 
    justify-content: flex-start; 
}

.sideNav_frame .menu ul li a {
    display: flex;
    align-items: center;
    font-family: SF_REGULAR;
    text-decoration: none;
    color: gray;
    width: 100%; 
    padding: 10px 0; 
    padding-left: 20px; 
}

.sideNav_frame .menu ul li a img {
    width: 25px;
    height: 25px;
    margin-right: 10px; 
}

.sideNav_frame .menu ul li a:hover,
.sideNav_frame .menu ul li a:focus {

}

.sideNav_frame .menu ul li a span {
    flex-grow: 1; 
}

/* Hide text when collapsed */
.sideNav.collapsed .menu ul li a span {
    display: none;
}

.sideNav_frame .menu ul .settings {
}

.sideNav_frame .menu ul .settings .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: none;
    padding: 5px 0;
    border: none;
    width: 100%; 
}

.sideNav_frame .menu ul .settings:hover .dropdown {
    display: block;
}

.dropdown ul {
    padding: 0;
}

.dropdown ul li {
    padding: 5px 20px; 
}

.dropdown ul li a {
    color: gray;
    text-decoration: none;
    font-family: "SF_REGULAR";
    font-size: 14px;
}

.dropdown ul li:not(:last-child) {
    margin-bottom: 5px; /
}


.sideNav_frame .menu ul li:hover,
.sideNav_frame .menu ul li:focus-within {
    transform-origin: left;
    transform: scale(1.2);
    transition: transform 0.5s ease;
}

/*#####################################*/
/*#########  P R O F I L E  ###########*/
/*#####################################*/

.profile{
    position: fixed;
    margin-left: 10px;
    margin-bottom: 20px;
    width: 200px;
    bottom: 0;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    padding-top: 12px;
    box-shadow: 3px 3px 6px #c4c4c4;
}

.profile .profile_info{
    display: flex;
    align-items: center;
}

.profile_info h1{
    font-family: sf_regular;
    font-size: 15px;
    margin-left: 5px;
}

.profile_pictures{
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: 2px solid #9D4EDD;
}

.profile .profile_button{
    border: none;
    width: 55px;
    height: 55px;
    background-color: white;
}

/*################################################*/
/*#########  P R O F I L E  H O V E R  ###########*/
/*################################################*/

.profile:hover .profile_dropdown_content{
    opacity: 1;
    transition: .5s;
}

/*####################################################################################*/
/*#########################  P R O F I L E  D R O P D O W N  #########################*/
/*####################################################################################*/

.profile_dropdown{
    bottom: 0;
    margin-bottom: 170px;
    position: absolute;
    display: inline-block;
}

.profile_dropdown_content{
    opacity: 0;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 2px 2px 4px #c4c4c4;
    z-index: 1;
    border-radius: 10px;
}

.profile_dropdown_content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: sf_regular;
}

.profile_dropdown_content a:hover{
    background-color: #9D4EDD;
    color: white;
    border-radius: 10px;
}

.show{
    visibility: visible;
    display: block;
}


/*##################################################*/
/*#########  P U R C H A S E  F R A M E  ###########*/
/*##################################################*/

.middle{
    width: 85%;
}

.save_history{
    width: 100%;
    height: 100% auto;
}

.my_purchase_frame{
    font-family: "SF_BOLD";
    font-size: 30px;
    margin-left: 20px;
}


/*#################################################################*/
/*################  S A V E D   D E T A I L S   ###################*/
/*#################################################################*/

.my_purchase_frame{
    width: 90%;
    height: 850px;
    margin: 30px auto;
    padding: 20px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2); 
    background-color:  #F9F9F9; 
    border-radius: 8px;
}

.my_purchase_frame .purchase_text h1{
    font-family: "SF_MEDIUM";
    font-size: 35px;
    margin-top: 40px;
    margin-left: 10px;
}

.my_purchase_frame .purchase_text h2{
    font-family: "SF_REGULAR";
    font-size: 15px;
    margin-left: 10px;

}
.my_purchase_frame.purchase-frame{
    margin: 50px ;
    padding: 40px;
    width: 20%;
    height: 35%;
    box-shadow: 0 12px 15px rgba(0, 0, 0, 0.3); 
    background-color:  #FFFFFF; 
    border-radius: 10px;
}

.purchase_category_frame{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

/*#################################################################*/
/*#########  S E A R C H  C O N T A I N E R  F R A M E  ###########*/
/*#################################################################*/


.purchase_container {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.purchase_input {
    height: 35px;
    border-radius: 10px;
    font-size: 15px;
    font-family: "SF_MEDIUM";
    padding: 8px 8px 8px 32px; /* Padding to make space for the search icon */
    background-image: url(/static/images/buyer/home/search.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 25px;
    width: 250px;
}





/*#################################################################*/
/*########  C A T E G O R Y  C O N T A I N E R  F R A M E  ########*/
/*#################################################################*/

.category_container {
    font-family: "SF_BOLD";
}




.dropdown {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 10px 13px rgba(0, 0, 0, 0.2); 
    width: 250px;
}


.dropdown-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-right: 8px; 
}


.dropdown span {
    font-family: "SF_MEDIUM";
    font-size: 16px;
    color: #333;
    text-align: left;
}


.dropdown-menu {
    display: none; 
    position: absolute;
    top: 90%;
    left: 15px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    padding: 10px;
    list-style: none;
    width: 90%;
    z-index: 1000;
}


.dropdown-menu li {
    padding: 15px;
    font-size: 15px;
    color: #333;
    cursor: pointer;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 30px; 
}

.dropdown-menu li:hover {
    background-color: #9D4EDD;
    color: #ffffff;
}


.dropdown:hover .dropdown-menu {
    display: block;
}


.dropdown-menu li.active {
    font-weight: "SF_BOLD";
    color: #9D4EDD; 
    background-color: #e8e6ff; 
}

/*######################################################*/
/*#########  M Y  P U R C H A S E  T A B L E ###########*/
/*######################################################*/


.my_purchase_table{
    width: 95%;
    height: 550px;
    padding: 30px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2); 
    background-color:  #FFFFFF; 
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    
}

.table_frame{
    margin-top: 20px;
    height: 90%;
    overflow-y: auto;
}

.my_purchase_table table{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    border-collapse: collapse;
}

.my_purchase_table thead th{
    border: 1px solid;
    position: sticky;
    top: 0;
    background-color: white;
    height: 60px;
}


.my_purchase_table tbody td {
    font-family: sf_regular;
    font-size: 20px;
    text-align: center;
    border: 1px solid;
    border-collapse: collapse;
    height: 50px;
}

/*############################################*/
/*#########  T A B L E  C E L L S  ###########*/
/*############################################*/

.th_cell1{
    font-family: sf_regular;
    font-size: 20px;
    height: 40px;
}

.cell1{
    width: 50px;
    text-align: center;
}

.th_cell2{
    font-family: sf_regular;
    font-size: 20px;
    height: 40px;
}

.cell2{
    width: 270px;
    text-align: center;
}

.th_cell3{
    font-family: sf_regular;
    font-size: 20px;
    height: 40px;
}

.cell3{
    width: 130px;
    text-align: center;
}

.th_cell4{
    font-family: sf_regular;
    font-size: 20px;
    height: 40px;
}

.th_cell4{
    width: 120px;
    text-align: center;
}

.th_cell5{
    font-family: sf_regular;
    font-size: 20px;
    height: 40px;
}

.th_cell5{
    width: 50px;
    text-align: center;
}

.th_cell6{
    font-family: sf_regular;
    font-size: 20px;
    height: 40px;
}

.th_cell6{
    width: 100px;
    text-align: center;
}

.th_cell7{
    font-family: sf_regular;
    font-size: 20px;
    height: 40px;
}

.th_cell7{
    width: 100px;
    text-align: center;
}

.th_cell8{
    font-family: sf_regular;
    font-size: 20px;
    height: 40px;
}

.th_cell8{
    width: 180px;
    text-align: center;
}

.th_cell9{
    font-family: sf_regular;
    font-size: 20px;
    height: 40px;
}

.th_cell9{
    width: 180px;
    text-align: center;
}
/*###################################*/
/*#########  S T A T U S  ###########*/
/*###################################*/

.placed{
    padding: 5px 15px 5px 15px;
    background-color: #EB6060;
    border-radius: 10px;
    color:white;
}


.to_ship{
    padding: 5px 20px 5px 15px;
    background-color: #F7E363;
    border-radius: 10px;
    color: rgb(66, 61, 12);
}


.delivered{
    padding: 5px 15px 5px 15px;
    background-color: #A1D9AE;
    border-radius: 10px;
    color: #0f3005;
}



.paid{
    padding: 5px 15px 5px 15px;
    background-color: rgb(31, 206, 31);
    border-radius: 10px;
    color: #ffffff;
}

.unpaid{
    padding: 5px 15px 5px 15px;
    background-color: #e90000;
    border-radius: 10px;
    color: #ffffff;
    margin-right: 10px;
}

.pay_button{
    padding: 5px 15px 5px 15px;
    background-color: #9D4EDD;
    border-radius: 10px;
    color: #ffffff;
    text-decoration: none;
}

.pay_button:hover{
    background-color: #602392;
    color: #ffffff;
    text-decoration: none;
    transition: .5s;
}