*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*##############################################*/
/*######### R E G U L A R  F O N T S ###########*/
/*##############################################*/

@font-face {
    font-family: "SF_BLACK";
    src: url(static/FONT/SF_PRO/SF_PRO_DISPLAY_BLACK.otf);
}
@font-face {
    font-family: "SF_BOLD";
    src: url(static/FONT/SF_PRO/SF_PRO_DISPLAY_BOLD.OTF);
}
@font-face {
    font-family: "SF_MEDIUM";
    src: url(static/FONT/SF_PRO/SF_PRO_DISPLAY_MEDIUM.OTF);
}
@font-face {
    font-family: "SF_REGULAR";
    src: url(static/FONT/SF_PRO/SF_PRO_DISPLAY_REGULAR.OTF);
}

/*############## ITL = ITALIC ################*/
@font-face { 
    font-family: "SF_SEMIBOLD_ITL";
    src: url(static/FONT/SF_PRO/SF_PRO_DISPLAY_SEMI_BOLD_ITL.OTF);
}
@font-face {
    font-family: "SF_BLACK_ITL";
    src: url(static/FONT/SF_PRO/SF_PRO_DISPLAY_BLACK_ITL.OTF);
}
@font-face {
    font-family: "SF_HEAVY_ITL";
    src: url(static/FONT/SF_PRO/SF_PRO_DISPLAY_HEAVY_ITL.OTF);
}
@font-face {
    font-family: "SF_LIGHT_ITL";
    src: url(static/FONT/SF_PRO/SF_PRO_DISPLAY_LIGHT_ITL.OTF);
}
@font-face {
    font-family: "SF_THIN_ITL";
    src: url(static/FONT/SF_PRO/SF_PRO_DISPLAY_THIN_ITL.OTF);
}

/*############################################*/
/*#########  D E S I G N  C O D E  ###########*/
/*############################################*/