*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*##############################################*/
/*######### R E G U L A R  F O N T S ###########*/
/*##############################################*/

@font-face {
    font-family: "SF_BLACK";
    src: url(FONT/SF_PRO/SF_PRO_DISPLAY_BLACK.otf);
}
@font-face {
    font-family: "SF_BOLD";
    src: url(FONT/SF_PRO/SF_PRO_DISPLAY_BOLD.OTF);
}
@font-face {
    font-family: "SF_MEDIUM";
    src: url(FONT/SF_PRO/SF_PRO_DISPLAY_MEDIUM.OTF);
}
@font-face {
    font-family: "SF_REGULAR";
    src: url(FONT/SF_PRO/SF_PRO_DISPLAY_REGULAR.OTF);
}

/*############## ITL = ITALIC ################*/
@font-face { 
    font-family: "SF_SEMIBOLD_ITL";
    src: url(FONT/SF_PRO/SF_PRO_DISPLAY_SEMI_BOLD_ITL.OTF);
}
@font-face {
    font-family: "SF_BLACK_ITL";
    src: url(FONT/SF_PRO/SF_PRO_DISPLAY_BLACK_ITL.OTF);
}
@font-face {
    font-family: "SF_HEAVY_ITL";
    src: url(FONT/SF_PRO/SF_PRO_DISPLAY_HEAVY_ITL.OTF);
}
@font-face {
    font-family: "SF_LIGHT_ITL";
    src: url(FONT/SF_PRO/SF_PRO_DISPLAY_LIGHT_ITL.OTF);
}
@font-face {
    font-family: "SF_THIN_ITL";
    src: url(FONT/SF_PRO/SF_PRO_DISPLAY_THIN_ITL.OTF);
}

/*############################################*/
/*#########  D E S I G N  C O D E  ###########*/
/*############################################*/


/*##############################*/
/*#########  B O D Y  ###########*/
/*###############################*/

body{
    background-image: url(/static/images/bg.jpg);
    background-size: cover;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
}


/*########################################*/
/*#########  O T P  F R A M E  ###########*/
/*########################################*/

.new_pass_main_frame{
    margin: 200px;
    padding: 50px;
    width: 780px;
    height: 580px;
    background-color: #F9F9F9;
    border-radius: 50px;
    box-shadow: 2px 2px 12px black;
}

/*############################*/
/*#####  O T P  L O G O  #####*/
/*############################*/

.new_pass_logo_frame{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
    margin-top: 20px;
}

.new_pass_logo_frame img{
    width: 350px;
    height: auto;
}

/*############################*/
/*#####  O T P  T E X T  #####*/
/*############################*/
/* 
.login_text{
    margin-top: 65px;
}

.login_text h1{
    font-family: SF_REGULAR;
} */

/*###########################*/
/*#####  T E X T B O X  #####*/
/*###########################*/

.textbox_frame label{
    font-family: SF_MEDIUM;
    margin-left: 10px;
}

/*#################################*/
/*##### O T P  T E X T B O X  #####*/
/*#################################*/

.new_pass_box{
text-align: center;
}

.new_pass_frame{
    margin-bottom: 40px;
}

.confirm_new_pass_box{
    text-align: center;
}

.confirm_new_pass_frame{
    margin-bottom: 40px;
}



/*########################################*/
/*#####  T E X T B O X  D E S I G N  #####*/
/*########################################*/

.textbox_frame input[type='password']{
    border: 2px solid rgb(192, 192, 192);
    width: 682px;
    height: 60px;
    border-radius: 8px;
    padding: 10px;
    font-size: 20px;
    font-family: SF_MEDIUM;
}

.textbox_frame input[type='password']:focus{
    border: 3px solid #9D4EDD;
    width: 682px;
    height: 60px;
    border-radius: 8px;
    padding: 10px;
    font-size: 20px;
    font-family: SF_MEDIUM;
}

/*########################################*/
/*#####  M E S S A G E  D E S I G N  #####*/
/*########################################*/

.msg{
    color: red;
    font-family: sf_regular;
}

.msg2{
    text-align: center;
    color: rgb(15, 126, 0);
    font-family: sf_bold;
}

/*###################################*/
/*#####   S A V E  B U T T O N  #####*/
/*###################################*/

.new_pass_button_frame button{
    margin-top: 20px;
    font-size: 20px;
    font-family: SF_MEDIUM;
    border-color: #9D4EDD;
    background-color: #9D4EDD;
    color: white;
    width: 682px;
    height: 45px;
    border-radius: 8px
}
