*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*##############################################*/
/*######### R E G U L A R  F O N T S ###########*/
/*##############################################*/

@font-face {
    font-family: "SF_BLACK";
    src: url(FONT/SF_PRO/SF_PRO_DISPLAY_BLACK.otf);
}
@font-face {
    font-family: "SF_BOLD";
    src: url(FONT/SF_PRO/SF_PRO_DISPLAY_BOLD.OTF);
}
@font-face {
    font-family: "SF_MEDIUM";
    src: url(FONT/SF_PRO/SF_PRO_DISPLAY_MEDIUM.OTF);
}
@font-face {
    font-family: "SF_REGULAR";
    src: url(FONT/SF_PRO/SF_PRO_DISPLAY_REGULAR.OTF);
}

/*############################################*/
/*############## ITL = ITALIC ################*/
/*############################################*/

@font-face { 
    font-family: "SF_SEMIBOLD_ITL";
    src: url(FONT/SF_PRO/SF_PRO_DISPLAY_SEMI_BOLD_ITL.OTF);
}
@font-face {
    font-family: "SF_BLACK_ITL";
    src: url(FONT/SF_PRO/SF_PRO_DISPLAY_BLACK_ITL.OTF);
}
@font-face {
    font-family: "SF_HEAVY_ITL";
    src: url(FONT/SF_PRO/SF_PRO_DISPLAY_HEAVY_ITL.OTF);
}
@font-face {
    font-family: "SF_LIGHT_ITL";
    src: url(FONT/SF_PRO/SF_PRO_DISPLAY_LIGHT_ITL.OTF);
}
@font-face {
    font-family: "SF_THIN_ITL";
    src: url(FONT/SF_PRO/SF_PRO_DISPLAY_THIN_ITL.OTF);
}

/*######################################################################################################*/
/*#######################################  D E S I G N  C O D E  #######################################*/
/*######################################################################################################*/

/*#########################################################################################*/
/*#######################################  B O D Y  #######################################*/
/*#########################################################################################*/

body{
    background: white;
    color: rgb(10, 6, 6);
}

/*#############################################################################################*/
/*#######################################  T O P N A V  #######################################*/
/*#############################################################################################*/

.topNav{
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 40px;
}

.topNav_frame{
    display: flex;
    justify-content: space-between;
}

.topNav_frame .left .foodity_logo img{
    width: 250px;
    height: auto;
    margin-top: -10px;
}

.topNav_frame .right{
    display: flex;
}


.message{
    background-color: white;
    border-radius: 10px;
    margin-right: 10px;
    padding: 10px;
    padding-top: 15px;
    box-shadow: 3px 3px 6px #c4c4c4;
}

.notification{
    background-color: white;
    border-radius: 10px;
    margin-right: 10px;
    padding: 10px;
    padding-top: 15px;
    box-shadow: 3px 3px 6px #c4c4c4;
}


/*##############################################*/
/*#########  P R O F I L E  I N F O  ###########*/
/*##############################################*/
.profile{
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    padding-top: 12px;
    box-shadow: 3px 3px 6px #c4c4c4;
}


.profile_info{
    display: flex;
    padding-right: 10px;
    align-items: center;
}

.profile_info h1{
    font-family: sf_regular;
    font-size: 20px;
    margin-left: 5px;
}

.profile_pictures{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    border: 2px solid #9D4EDD;
}

.topNav_frame .right .profile .profile_button{
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    border: none;
    width: 55px;
    height: 55px;
    margin-top: -1px;
}

/*################################################*/
/*#########  P R O F I L E  H O V E R  ###########*/
/*################################################*/

.topNav_frame .right .profile:hover .profile_dropdown_content{
    opacity: 1;
    transition: .5s;
}
/*#########################################################################################*/
/*#######################################  B A S E  #######################################*/
/*#########################################################################################*/

.base_frame{
    display: flex;
}


/*################################################################################################*/
/*#######################################  S I D E  N A V  #######################################*/
/*################################################################################################*/

.sideNav{
    width: 20%;
}

.sideNav_frame{
    margin-top: 50px;
    margin-left: 40px;
    z-index: -2;
}

.sideNav_frame .menuText{
    font-family: SF_MEDIUM;
}

.sideNav_frame .menu{
    margin-top: 20px;
}

.sideNav_frame .menu ul li{
    margin-left: 10px;
    list-style: none;
    margin-bottom: 30px;
}

.sideNav_frame .menu ul .dashboard{
    margin-left: -0px;
    list-style: none;
    margin-bottom: 30px;
}

.sideNav_frame .menu ul .orders{
    margin-left: -0px;
    list-style: none;
    margin-bottom: 30px;
}

.sideNav_frame .menu ul .delivery{
    margin-left: -0px;
    list-style: none;
    margin-bottom: 30px;
}

.sideNav_frame .menu ul .products{
    margin-left: -0px;
    list-style: none;
    margin-bottom: 30px;
}

.sideNav_frame .menu ul .sales_report{
    margin-left: -0px;
    list-style: none;
    margin-bottom: 30px;
}

.sideNav_frame .menu ul .dashboard li a{
    font-size: 20px;
    font-family: SF_MEDIUM;
    text-decoration: none;
    color: #9D4EDD;
    pointer-events: none;
}

.sideNav_frame .menu ul li a{
    font-family: SF_REGULAR;
    text-decoration: none;
    color: gray;
}

.sideNav_frame .toolsText{
    font-family: SF_MEDIUM;
}

.sideNav_frame .tools{
    margin-top: 20px;
}

.sideNav_frame ul li{
    list-style: none;
}

.sideNav_frame ul li a{
    text-decoration: none;
    font-family: SF_MEDIUM;
    font-size: 20px;
    color: gray;
}

/*#############################################*/
/*#########  S I D E  N A V  I M G  ###########*/
/*#############################################*/


.sideNav_frame img{
    vertical-align: bottom;
    width: 30px;
    height: auto;
}

/*###################################################*/
/*#########  S I D E  N A V  E F F E C T S  #########*/
/*###################################################*/

.sideNav_frame .menu ul .dashboard li:hover{
    transform-origin: left;
    transform: scale(1.2);
    transition: transform 0.5s ease;
}

.sideNav_frame .menu ul .orders li:hover{
    transform-origin: left;
    transform: scale(1.2);
    transition: transform 0.5s ease;
}

.sideNav_frame .menu ul .delivery li:hover{
    transform-origin: left;
    transform: scale(1.2);
    transition: transform 0.5s ease;
}

.sideNav_frame .menu ul .products li:hover{
    transform-origin: left;
    transform: scale(1.2);
    transition: transform 0.5s ease;
}

.sideNav_frame .menu ul .sales_report li:hover{
    transform-origin: left;
    transform: scale(1.2);
    transition: transform 0.5s ease;
}

.sideNav_frame .menu ul li a:hover{
    background-repeat: no-repeat;
    color: #9D4EDD;
}

.sideNav_frame .menu ul .user_management:hover{
    background-repeat: no-repeat;
}

.sideNav_frame .tools ul li:hover{
    transform-origin: left;
    transform: scale(1.2);
    transition: transform 0.5s ease;
}

.sideNav_frame .tools ul li a:hover{
    color: #9D4EDD;
}

/*###################################################################################################*/
/*#######################################  D A S H B O A R D  #######################################*/
/*###################################################################################################*/

.seller_dashboard{
    margin-left: 20px;
    width: 100%;
}

.dashboard_frame{
    margin-top: 90px;
}



.dashboard_frame_totals{
    width: 85%;
    display: flex;
    margin-top: 10px;
    margin-bottom: 30px;
    justify-content: space-evenly;
}

.dashboard_frame_totals .total_orders{
    display: flex;
}

.dashboard_frame_totals .total_orders .orders_square{
    width: 100px;
    height: 100px;
    border-radius: 15px;
    padding: 16px;
    background-color: #E0AAFF;
}

.dashboard_frame_totals .total_orders .orders_text{
    margin-left: 20px;
    margin-top: 5px;
}

.dashboard_frame_totals .total_orders .orders_text h1{
    font-family: SF_BLACK;
    font-size: 45px;
}

.dashboard_frame_totals .total_orders .orders_text P{
    font-family: SF_medium;
    font-size: 20px;
}

.dashboard_frame_totals .total_delivered{
    display: flex;
}

.dashboard_frame_totals .total_delivered .delivered_square{
    width: 100px;
    height: 100px;
    border-radius: 15px;
    padding: 14px;
    background-color: #E0AAFF;
}

.dashboard_frame_totals .total_delivered .delivered_text{
    margin-left: 20px;
    margin-top: 5px;
}

.dashboard_frame_totals .total_delivered .delivered_text h1{
    font-family: SF_BLACK;
    font-size: 45px;
}

.dashboard_frame_totals .total_delivered .delivered_text P{
    font-family: SF_medium;
    font-size: 20px;
}

.dashboard_frame_totals .total_cancelled{
    display: flex;
}

.dashboard_frame_totals .total_cancelled .cancelled_square{
    width: 100px;
    height: 100px;
    border-radius: 15px;
    padding: 15px;
    background-color: #E0AAFF;
}

.dashboard_frame_totals .total_cancelled .cancelled_text{
    margin-left: 20px;
    margin-top: 5px;
}

.dashboard_frame_totals .total_cancelled .cancelled_text h1{
    font-family: SF_BLACK;
    font-size: 45px;
}

.dashboard_frame_totals .total_cancelled .cancelled_text P{
    font-family: SF_medium;
    font-size: 20px;
}

.dashboard_text{
    justify-content: space-between;
}

.dashboard_text p{
    font-family: SF_BOLD;
    font-size: 45px;
    margin-bottom: 40px;
}

/*#################################################################*/
/*#########################  F I L T E R  #########################*/
/*#################################################################*/

.filter_frame{
    display: flex;
    margin-top: 20px;
    margin-right: 160px;
}

.date_picker_from{
    display: flex;
    margin-right: 20px;
}

.filter_frame .date_picker_from label{
    margin-top: 5px;
    font-family: SF_MEDIUM;
    margin-right: 8px;
}

.date_from{
    height: 30px;
    display: inline-flex;
    align-items: center;
    background-color: #fff;
    border: 2px solid #9D4EDD;
    border-radius: 8px;
}

.filter_frame .date_picker_from .date_from input{
    appearance: none;
    outline: none;
    border: 0;
    background-color: transparent;
    font-family: SF_MEDIUM;

    &[type=date]{
        width: 6.7rem;
        padding: .25rem 0 .25rem .5rem;
        border-right-width: 0;
    }

    &[type=time]{
        width: 6.3rem;
        padding: .25rem .5rem .25rem 0;
        border-left-width: 0;
    }
}

.date_from span{
    height: 1rem;
    margin-right: .25rem;
    margin-left: .25rem;
    border-right: 1px solid #ddd;

}


.date_picker_to{
    display: flex;
    margin-right: 20px;
}

.filter_frame .date_picker_to label{
    margin-top: 5px;
    font-family: SF_MEDIUM;
    margin-right: 8px;
}

.date_to{
    height: 30px;
    display: inline-flex;
    align-items: center;
    background-color: #fff;
    border: 2px solid #9D4EDD;
    border-radius: 8px;
}

.filter_frame .date_picker_to .date_to input{
    appearance: none;
    outline: none;
    border: 0;
    background-color: transparent;
    font-family: SF_MEDIUM;

    &[type=date]{
        width: 6.7rem;
        padding: .25rem 0 .25rem .5rem;
        border-right-width: 0;
    }

    &[type=time]{
        width: 6.3rem;
        padding: .25rem .5rem .25rem 0;
        border-left-width: 0;
    }
}

.date_to span{
    height: 1rem;
    margin-right: .25rem;
    margin-left: .25rem;
    border-right: 1px solid #ddd;

}

.filter_submit input[type=submit]{
    width: 200px;
    height: 30px;
    background-color: #9D4EDD;
    color: white;
    border: #9D4EDD;
    border-radius: 10px;
    font-family: sf_medium;
    font-size: 15px;
}

.filter_submit input[type=submit]:hover{
    width: 200px;
    height: 30px;
    background-color: #b367f1;
    color: white;
    border: 1px solid #9D4EDD;
    border-radius: 10px;
    font-family: sf_medium;
    font-size: 15px;
}

.filter_submit input[type=submit]:active{
    width: 200px;
    height: 30px;
    background-color: #6d2fa0;
    color: white;
    border: 1px solid #9D4EDD;
    border-radius: 10px;
    font-family: sf_medium;
    font-size: 15px;
}



/*###############################################################*/
/*#########################  T A B L E  #########################*/
/*###############################################################*/

.table_text{
    justify-content: space-between;
}

.table_text p{
    font-family: SF_BOLD;
    font-size: 45px;
    margin-bottom: 40px;
}

.dashboard_table{
    margin-top: 20px;
    height: 500px;
    overflow: auto;
}

.dashboard_table table{
    border-collapse: collapse;
    width: 90%;
    height: 100px;
}

.text{
    font-family: sf_bold;
}


.dashboard_table thead th{
    top: 0;
    background-color: #ffffff;
    position: sticky;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: sf_bold;
}

.dashboard_table td{
    position: relative;
    text-align: center;
    border-bottom: 1px solid;
    font-family: SF_MEDIUM;
    padding: 5px;
}

.placed{
    padding: 0px 10px 0px 10px;
    background-color: #EB6060;
    color: white;
    border-radius: 8px;
}

.to_ship{
    padding: 0px 10px 0px 10px;
    background-color:#F7E363;
    color: white;
    border-radius: 8px;
}

.delivered{
    padding: 0px 10px 0px 10px;
    color: white;
    border-radius: 8px;
    background-color: #A1D9AE;
}

.unpaid{
    padding: 0px 10px 0px 10px;
    background-color: rgb(255, 0, 0);
    color: white;
    border-radius: 8px;
}

.paid{
    padding: 0px 10px 0px 10px;
    background-color: rgb(1, 212, 1);
    color: white;
    border-radius: 8px;
}

/*######################################################################*/
/*#########################  B A R  C H A R T  #########################*/
/*######################################################################*/

.chart-container{
    width: 90%;
}



/*####################################################################################*/
/*#########################  P R O F I L E  D R O P D O W N  #########################*/
/*####################################################################################*/

.profile_dropdown{
    top: 95px;
    right: 150px;
    position: absolute;
    display: inline-block;
}

.profile_dropdown_content{
    opacity: 0;
    position: absolute;
    background-color: #dddddd;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0,2);
    z-index: 1;
    border-radius: 10px;
}

.profile_dropdown_content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: sf_regular;
}

.profile_dropdown_content a:hover{
    background-color: #9D4EDD;
    color: white;
    border-radius: 10px;
}

.show{
    visibility: visible;
    display: block;
}
